.producto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.producto__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    border: 2px solid #020202;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    background-color: #87b9f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card__titulo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card__precio {
    font-size: 1.2em;
    color: rgb(1, 32, 73);
    margin-bottom: 10px;
}

.card__desc {
    font-size: 1em;
    margin-bottom: 15px;
}

.card__boton {
    display: inline-block;
    padding: 10px 15px;
    background-color: #6d8299;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.card__boton:hover {
    background-color: #0056b3;
}
